<div class="center jumbotron">
  <%= link_to image_tag("rails.svg", alt: "Rails App Sample", height: "55"),
                        "https://rubyonrails.org/" %>
  <h1>Sample App</h1>
  <h2>Sample application with ruby on rails</h2>
  <hr>
  <p><%= link_to 'Sign up now!', signup_path, id: 'sign-up-link', class: 'btn btn-lg btn-primary' %></p>
</div>